body {
  background-color: hsl(212, 45%, 89%);
  padding: 0;
  margin: 0;
  font-family: "Outfit";
}

.main-content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  background-color: hsl(0, 0%, 100%);
  width: 20%;
  height: auto;
  border-radius: 15px;
  padding: 15px;
}

.content img {
  width: 100%;
  border-radius: 15px;
}

.image-container {
  display: flex;
  justify-content: center;
}

.content h1 {
  padding: 10px 0;
  font-size: 20px;
  text-align: center;
  color: hsl(218, 44%, 22%);
  font-weight: 700;
}

.content p {
  padding: 0px 10px;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  color: hsl(220, 15%, 55%);
}

.attribution p a {
  text-decoration: none;
  color: rgb(5, 5, 119);
}

.attribution p a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 375px) and (max-width: 768px){
  .main-content {
    margin: 80px 10px 20px 10px;
    padding: 30px 5px 5px 5px;
  }

  .content {
    width: 100%;
  }

  .content h1 {
    font-size: 25px;
  }

  .content p {
    font-size: 18px;
  }
}